<!--
		Esta es la parte donde se el gulp va injectar los archivos CSS y JS del frontEnd(JQuery)
-->
<title> KardexDL </title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<!-- bower:css -->
<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="/lib/semantic/dist/semantic.min.css" />
<!-- endbower -->

<!-- inject:css -->
<link rel="stylesheet" href="/CSS/button.min.css">
<link rel="stylesheet" href="/CSS/container.min.css">
<link rel="stylesheet" href="/CSS/divider.min.css">
<link rel="stylesheet" href="/CSS/dropdown.min.css">
<link rel="stylesheet" href="/CSS/form.min.css">
<link rel="stylesheet" href="/CSS/grid.min.css">
<link rel="stylesheet" href="/CSS/header.min.css">
<link rel="stylesheet" href="/CSS/icon.min.css">
<link rel="stylesheet" href="/CSS/image.min.css">
<link rel="stylesheet" href="/CSS/input.min.css">
<link rel="stylesheet" href="/CSS/label.min.css">
<link rel="stylesheet" href="/CSS/list.min.css">
<link rel="stylesheet" href="/CSS/menu.min.css">
<link rel="stylesheet" href="/CSS/message.min.css">
<link rel="stylesheet" href="/CSS/popup.min.css">
<link rel="stylesheet" href="/CSS/reset.min.css">
<link rel="stylesheet" href="/CSS/segment.min.css">
<link rel="stylesheet" href="/CSS/site.min.css">
<link rel="stylesheet" href="/CSS/style.min.css">
<link rel="stylesheet" href="/CSS/table.min.css">
<link rel="stylesheet" href="/CSS/transition.min.css">
<!-- endinject -->

<!-- bower:js -->
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/semantic/dist/semantic.min.js"></script>
<!-- endbower -->

<!-- inject:js -->
<script src="/JS/AJAX.min.js"></script>
<script src="/JS/accordion.min.js"></script>
<script src="/JS/dropdown.min.js"></script>
<script src="/JS/form.min.js"></script>
<script src="/JS/formValidations.min.js"></script>
<script src="/JS/myJS.min.js"></script>
<script src="/JS/popup.min.js"></script>
<script src="/JS/transition.min.js"></script>
<!-- endinject -->



