<!DOCTYPE html>
<html lang="es">

<head>
    <%include ../header%>
</head>

<body>

    <%include ../nav%>
    <div class="pusher" style="background-color: #DADADA">
        <div class="pusher" style="background-color: #DADADA">
            <%if (user.role === 'ALUMNO') {%>
            <div class="ui two columns centered grid">
                <div class="column">
                    <div class="ui large secondary pointing menu" style="background-color: #fff">
                        <a class="toc item"><i class="sidebar icon"></i> MENU</a>
                        <%include ../navegador%>
                    </div>
                </div>
            </div>
            <%} else {%>
            <div class="ui text container">
                <div class="ui large secondary pointing menu" style="background-color: #fff">
                    <a class="toc item">
                        <i class="sidebar icon"></i> MENU
                    </a>
                    <%include ../navegador%>
                </div>
            </div>
            <%}%>
            <div class="ui middle aligned center aligned grid">
                <div class="column">
                    <h2 class="ui image header">
                        <div class="content" style="padding-top:15px;">
                            Actualizar Contrase単a
                        </div>
                    </h2>
                    <form id="updatePForm" class="ui large form" name="updatePForm" method="post" action="/actualizar">
                        <%if(message.length>0) {%>
                        <div class="ui info message">
                            <i class="close icon"></i>
                            <div class="header">
                                <%=message%>
                            </div>
                        </div>
                        <%} else if(er.length>0) {%>
                        <div class="ui negative message">
                            <i class="close icon"></i>
                            <div class="header"><%=er%></div>
                        </div>
                        <%}%>
                        <div class="two fields">
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input type="text" name="inputUpdateName" id="inputUpdateName" disabled placeholder="Ingrese Nombre" value="<%=user.nombre%>">
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input type="text" name="inputUpdateUser" id="inputUpdateUser" disabled placeholder="Ingrese Nombre" value="<%=user.usuario%>">
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input id="inputUpdatePassword" type="password" name="inputUpdatePassword" placeholder="Ingrese Contrase単a Actual" autocomplete="off">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input id="inputUpdateNewPwrd" type="password" name="inputUpdateNewPwrd" placeholder="Nueva Contrase単a" autocomplete="off">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input id="inputUpdateConfirmPwrd" type="password" name="inputUpdateConfirmPwrd" placeholder="Confirma Contrase単a" autocomplete="off">
                            </div>
                        </div>

                        <div class="ui fluid large blue submit button"><i class="add user icon"></i>actualizar</div>
                        <div class="ui message error"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <%include ../footer%>
    </footer>
</body>


</html>
